@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}



@import "tailwindcss";

/* In your main CSS file */
@layer components {
    .typewriter-text {
      @apply relative inline-block overflow-hidden;
      border-right: 2px solid #eab308; /* Cursor color */
      white-space: nowrap;
      animation: 
        typing 3s steps(22, end) forwards,
        blink-caret 0.75s step-end infinite;
    }
  
    @keyframes typing {
      from { width: 0 }
      to { width: 90% }
    }
  
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #eab308; }
    }
  }

@layer utility {
    .text-shadow-yellow {
        text-shadow:  0px 0px 20px rgb(255, 166, 0);
    }
    .glow-box {
        box-shadow: 0 0 20px 0px #f59f0ba8, 0 0 120px 0px #f59f0b61;
      }

    .text-glow-yellow {
        text-shadow:  0px 0px 60px rgb(255, 166, 0);
    }
      
.orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
}

@config "../tailwind.config.js"
